<ion-header no-border>
  <div class="login-header ion-padding">
    <img src="assets\icon\favicon.png" class="logo-img"/>
  </div>
  </ion-header>
  
  <ion-content padding='true'>
  
  <h1><b> Log In</b></h1>
  
  <form (ngSubmit)="logForm()" novalidate>
  <ion-list>
  <ion-item transparant>
  <!--
  
  <ion-icon name="mail">Email</ion-icon>-->
    <ion-label position="floating" >Email</ion-label>
  <ion-input  autocomplete="off" type="text"name="email" [(ngModel)]= "email" required></ion-input>
  </ion-item>
  
  <ion-item transparant>
    <!--<ion-icon name="pass">Password</ion-icon>-->
    <ion-label  position="floating">Password</ion-label>
    
  <ion-input autocomplete="off" type="password" name="password" [(ngModel)]= "password" required></ion-input>
  </ion-item>
  
  <ion-item lines='none'>
  <a routerLink='/signup'><b>Create Account</b></a>
  </ion-item>
  </ion-list>
  <ion-button expand="block" share="round"  type="submit" color="success" (click)="checkLoginData()">Login</ion-button>
  </form>
  </ion-content>
