.line{
    border: 1px solid #ccc;
    padding: 0px;
}
.price{
    color: red;
    font-size: 13px;
}
.heart{
    color: red;
}
.avilable{
  color: greenyellow;
}
.gold{
    color:gold;
  }
.prodname{
  color: cornflowerblue;
}

ion-fab-button {
    height: 70px;
    width: 70px;
  }
  .cart-icon {
    font-size: 50px;
  }
   
  .cart-length {
    color: var(--ion-color-primary);
    position: absolute;
    top: 18px;
    left: 25px;
    font-weight: 600;
    font-size: 1em;
    min-width: 25px;
    z-index: 10;
  }  