<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide> 
    <img src="assets\icon\favicon.png" />
    <h2>Welcome to Project</h2>
    </ion-slide>
    <ion-slide>
      <img src="assets\icon\favicon.png" />
    <h2>Create Your Account</h2>
    </ion-slide>
    <ion-slide>
      <img src="assets\icon\favicon.png" />
    <h2>Login Account  </h2>
    <ion-button expand="block" share="round"  (click)="navigateToLogin()">Start</ion-button>
    </ion-slide>
    </ion-slides>
</ion-content>
